body {
  background-color: rgb(36, 36, 36);
  margin: 2em;
  overflow: hidden;
  background-image: linear-gradient(
    20deg,
    #383737 33.33%,
    #212121 33.33%,
    #212121 50%,
    #383737 50%,
    #383737 83.33%,
    #212121 83.33%,
    #212121 100%
  );
  background-size: 175.43px 63.85px;
  font-family: "Baloo Bhai 2";
  font-weight: 800;
}

.background-scroll {
  animation: scroll 9000ms ease-in-out;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
}

@keyframes scroll {
  from {
    background-position-y: 0%;
  }
  to {
    background-position-y: -400vh;
  }
}

#holis {
  color: white;
  font-size: 10em;
  display: inline-block;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.holis-subir {
  animation: subir 1500ms ease-in;
  animation-fill-mode: forwards;
  animation-delay: 500ms;
}

@keyframes subir {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-150%);
  }
}

.punto {
  display: inline-block;
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 0.5em;
  cursor: pointer;
  position: relative;
}

.punto::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  animation: pulso 1200ms;
  animation-iteration-count: infinite;
  animation-delay: 1500ms;
}

@keyframes pulso {
  from {
    opacity: 0.8;
    transform: scale(0.9);
  }
  to {
    opacity: 0;
    transform: scale(1.8);
  }
}
@media (hover: hover) {
  .punto:hover,
  .punto:hover::before {
    transition-duration: 300ms;
    transition-property: background;
    background: rgb(32, 184, 255);
  }
}

.punto-cayendo {
  animation: caer 9000ms ease-in-out;
  animation-fill-mode: forwards;
}

.punto-cayendo::before {
  display: none;
}

@keyframes caer {
  30%,
  40% {
    transform: translate(0, 60vh);
    height: 50px;
  }

  55% {
    transform: translate(30vw, 60vh);
  }
  70% {
    transform: translate(-20vw, 60vh);
  }
  85% {
    transform: translate(10vw, 60vh);
    opacity: 100%;
  }
  95% {
    width: 30px;
    height: 50px;
    opacity: 100%;
    filter: blur(0);
  }
  100% {
    height: 80px;
    width: 80px;
    filter: blur(40px);
    opacity: 0%;
    transform: translate(10vw, 20vh);
  }
}

#bienvenidx {
  position: absolute;
  bottom: -100px;
  color: rgb(32, 184, 255);
  opacity: 0%;
  border-radius: 1rem;
  border: solid rgb(177, 177, 177);
  background-color: rgb(177, 177, 177, 0.45);
  padding: 0.5rem 2rem;
}

#bienvenidx p {
  color: white;
  font-weight: 500;
  font-size: 1.5em;
}

#bienvenidx b {
  color: rgb(32, 184, 255);
  font-weight: 800;
}

#ten-pines {
  color: #68bd44;
}

.bienvenidx-subir {
  animation: bienvenidx-subir 1600ms ease-out;
  animation-delay: 8000ms;
  animation-fill-mode: forwards;
}

@keyframes bienvenidx-subir {
  to {
    transform: translateY(-300px);
    opacity: 100%;
  }
}
